<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <timestamp key="myTimestamp" timeReference="contextBirth" datePattern="yyyy-MM-dd'_'HH-mm-ss"/>

  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <isStarted>true</isStarted>
    <resetJUL>false</resetJUL>
  </contextListener>

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
      <immediateFlush>false</immediateFlush>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
    </filter>
    <file>logs/execution.log</file>
    <append>true</append>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{15} - %msg%n%rEx</pattern>
      <immediateFlush>true</immediateFlush>
    </encoder>
  </appender>
  <!-- Uncomment for logging ALL HTTP request and responses -->
  <!-- <logger name="io.gatling.http" level="DEBUG" />-->
  <!-- Uncomment for logging ONLY FAILED HTTP request and responses -->
  <!--<logger name="io.gatling.http" level="ERROR" />-->
  <logger name="io.gatling.http.engine.tx" level="TRACE"/>

  <root level="WARN">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="FILE" />
  </root>

</configuration>
